# Docker ignore file
db/
target/
.git/
.gitignore
.gitmodules
.env
.env.test
<!-- Cargo.lock -->
justfile
Dockerfile
Dockerfile.local
docker-compose.yml
docker-compose.build.yml
tests/
assets/
README.md
CLAUDE.md
openspec/
xdoc/
subm/
<!-- subm/luna/data/db/ -->
